name: Python tests

on: [pull_request]

jobs:
  min_build:
    name: Run Code Checks and Tests with Minimum Dependencies
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v6
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install dependencies
        run: |
          poetry install
      - name: Run linting check with pylint
        run: |
          poetry run pylint ./pycufsm
      - name: Run formatting checks with black
        run: |
          poetry run black --check .
      - name: Run type checks with mypy
        run: |
          poetry run mypy
      - name: Run FEM tests with pytest
        run: |
          poetry run pytest --pspec tests/
  build:
    name: Run FEM Testing Suite with Most Recent Dependencies
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: ["3.10", "3.11", "3.13"]

    steps:
      - uses: actions/checkout@v6
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install dependencies
        run: |
          poetry install
      - name: Run FEM tests with pytest
        run: |
          poetry run pytest --pspec tests/
  